---
layout: default
title: Aknazar Janibek
---

<div id="home">
  <h1>blog</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>"lecture" notes</h1>
  <ul class="posts">
    {% for note in site.notes %}
    <li><span>{{ note.date | date_to_string }}</span> &raquo; <a href="{{ note.url }}">{{ note.title }}</a></li>
    {% endfor %}
  </ul>

</div>
